# Install CPU torch first with the command in scripts/setup_cpu_env.sh.
intel-extension-for-transformers==1.4.2
neural-compressor==2.5
transformers==4.33.3
modelscope==1.9.5
pydantic==1.10.13
sentencepiece
tiktoken
einops
transformers_stream_generator
uvicorn
fastapi
yacs
setuptools_scm
tqdm
huggingface-hub
